USE [TinhNguyenXanh]
GO

-- =============================================
-- 1. XÓA SẠCH DỮ LIỆU CŨ
-- =============================================
DELETE FROM [EventComments];
DELETE FROM [EventFavorites];
DELETE FROM [EventReports];
DELETE FROM [Reviews];
DELETE FROM [EventRegistrations];
DELETE FROM [Donations];
DELETE FROM [Events];
DELETE FROM [Organizations];
DELETE FROM [Volunteers];
DELETE FROM [AspNetUserRoles];
DELETE FROM [AspNetUserClaims];
DELETE FROM [AspNetUserLogins];
DELETE FROM [AspNetUserTokens];
DELETE FROM [AspNetUsers];
DELETE FROM [AspNetRoles];
DELETE FROM [EventCategories];
GO

-- =============================================
-- 2. TẠO ROLE (QUYỀN)
-- =============================================
INSERT INTO [AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES 
(N'role-admin-id', N'Admin', N'ADMIN', NEWID()),
(N'role-org-id', N'Organizer', N'ORGANIZER', NEWID()),
(N'role-vol-id', N'Volunteer', N'VOLUNTEER', NEWID());
GO

-- =============================================
-- 3. TẠO DANH MỤC SỰ KIỆN
-- =============================================
SET IDENTITY_INSERT [dbo].[EventCategories] ON
INSERT INTO [dbo].[EventCategories] ([Id], [Name]) VALUES 
(1, N'Bảo vệ môi trường'),
(2, N'Giáo dục trẻ em'),
(3, N'Y tế cộng đồng'),
(4, N'Cứu trợ thiên tai'),
(5, N'Hỗ trợ người cao tuổi'),
(6, N'Phát triển kỹ năng');
SET IDENTITY_INSERT [dbo].[EventCategories] OFF
GO

-- =============================================
-- 4. TẠO TÀI KHOẢN (USER) - Pass: Abc@12345
-- =============================================
DECLARE @PassHash NVARCHAR(MAX) = N'AQAAAAIAAYagAAAAEPOHk9DkdrnBPRs57ULo6v/CFiRYWt8ZB9pNrQKpATa8ZcUK0xTFD84OHqBX4lY+jQ==' 
DECLARE @Stamp NVARCHAR(MAX) = N'5MRM3BXXADIJOD6KGHY6GX6MO7SBJNNO'


INSERT INTO [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES
(N'user-admin-01', N'role-admin-id'),
(N'user-org-01', N'role-org-id'),
(N'user-org-02', N'role-org-id'),
(N'user-vol-01', N'role-vol-id'),
(N'user-vol-02', N'role-vol-id');
GO

-- =============================================
-- 5. TẠO HỒ SƠ TỔ CHỨC (ĐÃ SỬA LỖI IsApproved)
-- =============================================
SET IDENTITY_INSERT [dbo].[Organizations] ON

-- Đã thêm [IsApproved] = 1

SET IDENTITY_INSERT [dbo].[Organizations] OFF
GO

-- =============================================
-- 6. TẠO HỒ SƠ TÌNH NGUYỆN VIÊN
-- =============================================
SET IDENTITY_INSERT [dbo].[Volunteers] ON
INSERT INTO [dbo].[Volunteers] ([Id], [UserId], [FullName], [Email], [Phone], [Skills], [Availability], [JoinedDate]) VALUES
(100, N'user-vol-01', N'Nguyễn Văn An', N'an@tnx.com', N'0909333333', N'Chụp ảnh, Y tế', N'Cuối tuần', GETDATE()),
(200, N'user-vol-02', N'Trần Thị Bình', N'binh@tnx.com', N'0909444444', N'Dạy học', N'Tối thứ 3-5-7', GETDATE());
SET IDENTITY_INSERT [dbo].[Volunteers] OFF
GO

-- =============================================
-- 7. TẠO SỰ KIỆN
-- =============================================
SET IDENTITY_INSERT [dbo].[Events] ON

SET IDENTITY_INSERT [dbo].[Events] OFF
GO

-- =============================================
-- 8. ĐĂNG KÝ & ĐÁNH GIÁ & DONATE
-- =============================================
SET IDENTITY_INSERT [dbo].[EventRegistrations] ON
INSERT INTO [dbo].[EventRegistrations] ([Id], [EventId], [VolunteerId], [FullName], [Phone], [Reason], [Status], [RegisteredDate]) VALUES
(501, 3001, 100, N'Nguyễn Văn An', N'0909333333', N'Muốn tham gia', N'Pending', GETDATE()),
(503, 3015, 100, N'Nguyễn Văn An', N'0909333333', N'Đã tham gia', N'Confirmed', DATEADD(day, -15, GETDATE()));
SET IDENTITY_INSERT [dbo].[EventRegistrations] OFF

SET IDENTITY_INSERT [dbo].[Reviews] ON
INSERT INTO [dbo].[Reviews] ([Id], [UserId], [OrganizationId], [Rating], [Comment], [CreatedAt]) VALUES
(1, N'user-vol-01', 10, 5, N'Tổ chức rất tốt!', DATEADD(day, -5, GETDATE()));
SET IDENTITY_INSERT [dbo].[Reviews] OFF

SET IDENTITY_INSERT [dbo].[Donations] ON
INSERT INTO [dbo].[Donations] ([Id], [DonorName], [Amount], [PhoneNumber], [Message], [IsPaid], [TransactionCode], [CreatedAt]) VALUES
(1, N'Mạnh Thường Quân', 500000, N'0912xxx', N'Ủng hộ', 1, N'MOMO123', GETDATE());
SET IDENTITY_INSERT [dbo].[Donations] OFF

PRINT '--- CÀI ĐẶT DỮ LIỆU THÀNH CÔNG ---'
GO


SELECT Id, Email, PasswordHash, SecurityStamp 
FROM AspNetUsers 
WHERE Email = 'tnv1@gmail.com';

USE [TinhNguyenXanh]
GO

-- Thay chuỗi này bằng chuỗi PasswordHash bạn vừa copy từ tài khoản tam@gmail.com
DECLARE @NewHash NVARCHAR(MAX) = 'AQAAAAIAAYagAAAAEMpaNGc6P1fCN9YV/Zd4eSUtnsCgU9GyHOV1LfxQgiI0QQXeWPMPvc0GZc144RQE8Q==';

-- Cập nhật cho tất cả các tài khoản quan trọng
UPDATE [dbo].[AspNetUsers]
SET 
    [PasswordHash] = @NewHash,
    [SecurityStamp] = NEWID(), -- Tạo tem bảo mật mới để tránh lỗi xác thực cũ
    [ConcurrencyStamp] = NEWID(),
    [LockoutEnd] = NULL,       -- Mở khóa nếu lỡ bị khóa do đăng nhập sai nhiều lần
    [AccessFailedCount] = 0    -- Reset số lần sai về 0
WHERE [Email] IN (
    'admin@tnx.com', 
    'green@tnx.com', 
    'future@tnx.com', 
    'an@tnx.com', 
    'binh@tnx.com'
);

PRINT '--- ĐÃ CẬP NHẬT MẬT KHẨU MỚI THÀNH CÔNG ---'
GO

USE [TinhNguyenXanh]
GO

SET IDENTITY_INSERT [dbo].[Events] ON
GO

-- Lấy OrganizationId của 'green@tnx.com' là 10 (theo script chuẩn trước đó)
DECLARE @OrgId INT = 10; 


SET IDENTITY_INSERT [dbo].[Events] OFF
GO

PRINT '--- ĐÃ TẠO THÊM 10 SỰ KIỆN CHO GREEN LIFE VIETNAM ---'