@{
    ViewData["Title"] = "Đăng ký tổ chức thành công";
}

<div class="text-center mt-5">
    <h2 class="text-success">🎉 Đăng ký tổ chức thành công! Chờ quản trị viên duyệt</h2>
    <p>Bạn đã đăng ký trở thành Ban tổ chức.</p>

    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">
        Về trang chủ
    </a>
</div>
